* {
	margin: 0;
}

body {
	color: #a0a0a0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
a {
	color: #a0a0a0;
	text-decoration: none;
}
a:hover{
	color: #5a5a5a;
}
ul{
	list-style: none;
}
header{
	width: 1140px;
	margin: auto;
}
.logo {
	display:block;
	width: 511px;
	height: 95px;
	margin: 0 auto 50px auto;
	padding-top: 50px;
}
.marquee {
	background: url("img/marquee.jpg");
	clear: left;
	color: white;
	height: 640px;
	margin-bottom: 75px;
	width: 1140px;
}
.marquee p{
	font-size: 30px;
	padding:200px 0 40px 120px;
}
.marquee a{
	background: black;
	color: white;
	font-size: 30px;
	margin-left: 200px;
	padding: 20px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
header ul {
	margin: 25px auto;
	padding-bottom: 50px;
	width:490px;
	text-transform: uppercase;
}
header ul li {
	float: left;
	padding: 0 20px;
}
section	{
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top,  #cccccc 0%, #ffffff 15%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(15%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cccccc 0%,#ffffff 15%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cccccc 0%,#ffffff 15%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cccccc 0%,#ffffff 15%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cccccc 0%,#ffffff 15%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	clear: both;
	min-height: 400px;
	padding: 75px 0;
}
section > div {
	margin: auto;
	width: 1140px;
}
section img {
	float: left;
	padding: 20px 100px;
}
section article {
	float: left;
	width: 40%;
	padding-top: 20px;
}
.right article {
	margin-left: 100px;
}
article h1 {
	font-size: 28px;
	font-weight: normal;
	padding-bottom: 20px;
}
footer	{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 auto 50px auto;
	padding: 25px 0 10px 0;
	width: 1140px;
}
footer	p{
	float: left;
}
footer ul li{
	float: left;
	margin-left: 20px;
	padding: 0 10px;
}
.footer-nav {
	float: right;
	width: 400px;
}
.attribution {
	clear: left;
	float: none;
	font-size:11px;
	padding:10px 0;
}
