* {
	margin: 0;
}

body {
	color: #a0a0a0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
h1 {
	color: #000000;
}
h2 {color: #000000;
	text-align: left;
}
p {
	line-height: 130%;
	padding: 0px 0px 20px 0px;
}
a {
	color: #a0a0a0;
	text-decoration: none;
}
a:hover {
	color: #5a5a5a;
}
ul {
	list-style: none;
}
header {
	width: 1140px;
	margin: auto;
}
input {
	margin: auto;
	padding: 9px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	background: #FFFFFF;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}
input:hover, input.focus {
	border-color: #C9C9C9;
}
.form label {
	margin-left: 10px;
	color: #999999;
}
.submit input {
	width: auto;
	padding: 9px 15px;
	background: #000000;
	border: 0;
	font-size: 17px;
	color: #000000;
}
.logo {
	display:block;
	width: 511px;
	height: 95px;
	margin: 0 auto 50px auto;
	padding-top: 50px;
}
.marquee {
	background: url("../img/marquee.jpg");
	clear: left;
	color: white;
	height: 640px;
	margin-bottom: 75px;
	width: 1140px;
}
.marquee p{
	font-size: 210%;
	padding: 200px 0 40px 80px;
}
.marquee a{
	background: black;
	text-align: center;
	color: white;
	font-size: 30px;
	margin-left: 80px;
	padding: 20px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
	width: 34%;
}
header ul {
	margin: 25px auto;
	padding-bottom: 50px;
	width:400px;
	text-transform: uppercase;
}
header ul li {
	float: left;
	padding: 0 20px;
}
section	{
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #ffffff 10%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(10%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#ffffff 10%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#ffffff 10%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#ffffff 10%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#ffffff 10%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	clear: both;
	min-height: 400px;
	padding: 75px 0;
}
section > div {
	margin: auto;
	width: 1140px;
}
section img {
	float: left;
	padding: 20px 100px;
}
section article {
	float: left;
	width: 40%;
	padding-top: 20px;
}
.right article {
	margin-left: 100px;
}
article h1 {
	font-size: 28px;
	font-weight: normal;
	padding-bottom: 20px;
}
footer	{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: 0 auto 50px auto;
	padding: 10px 0 0px 0;
	width: 1140px;
}
footer	p {
	float: left;
}
footer ul li {
	float: left;
	margin-left: 20px;
	padding: 0 10px;
}
.footer-nav {
	float: right;
	width: 300px;
}
.attribution {
	clear: left;
	float: none;
	font-size:11px;
	padding:0px 0px;
}
.container {
	width: 1140px;
	padding: 12px 0px 12px 0px;
}
.container-row {
	width: 1140px;
	text-align: center;
	margin: auto;
}
.container-row h1 {
	font-size: 28px;
	font-weight: normal;
}
.container-row p {
	max-width: 1140px;
	display: block;
}
.text-input {
	width: 411px;
	color: #000000;
}
.text-input-button {
	background: black;
	text-align: center;
	color: white;
	font-size: 30px;
	margin-left: 0px;
	padding: 20px 30px 20px 20px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
#reservations-button {
	font-size: 14px;
	padding: 12px 12px;
	margin-left: 30px;
	width: 120px;
}
#reserve {
	background: black;
	text-align: center;
	color: white;
	font-size: 30px;
	margin-left: 0px;
	padding: 0px 30px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	display: block;
	padding: 20px 0px 20px 20px;
}
#reservations-headline, #reservations-body {
	width: 600px;
	margin: 0px auto 20px auto;
}
#reservations-form {
	width: 600px;
	margin: 20px auto 200px auto;
}
#jobs-headline, #jobs-body {
	width: 700px;
	margin: 0px auto 20px auto;
}
.jobs-list {
	text-align: left;
	border-top: 1px solid #ccc;
	padding: 20px 0px 0px 0px;
}